@font-face{
  font-family: "bamboo";
  src: url('../resources/bamboo.ttf');
}

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-image: url('../img/tiki_patern_4.jpg');
  background-repeat: repeat;
}

header{
  border-color: transparent !important;
  border-top: solid 10px;
  background-color: rgba(17,17,17,0.7);
  height: 124px;
  font-family: "bamboo";
}
.tiki {
  background-image: url('../img/tiki_logo.svg');
  background-position: 10px 0px;
  background-repeat: no-repeat;
}
.tiki:hover, .animateTiki {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.title {
  text-align: center;
}
h1{
  color:#d39e00;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 85px;
  margin-top: -15px;
}
@media screen and (max-width: 568px) {
  h1 {
    font-size:55px;
    margin: 0;
  }
}
h2{
  color: black;
  padding: 20px;
}

h3{
  padding: 1%;
  float: right;
  font-weight: bolder;
  color: #d39e00;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 14px;
}

input, select{
  margin-top: 5px;
  font-size: 22px;
  font-weight: bolder !important;
  border: 1px solid black !important;
  
}
input[type="submit"], select{
  background-color: #ffeeba !important;
}

input[type="submit"]:hover, select:hover {
  background-color: #d39e00 !important;
}
input[type="submit"]:active {
  background-color: #111 !important;
  color: #6af630 !important;
}

.results, .home{
  margin-top: 10px;
  width: 98%;
  border-radius: 10px;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 0px 24px;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.description{
  height: 30%;
  margin-top: 10px;
  padding: 20px;
}

.list-group {
  padding-right: 0;
}

.results-top, .results-middle, .results-bottom{
  display: block;
}

.results-top{
  font-weight: bolder;
  height: 48px;
  overflow: hidden;
}

.results-bottom span{
  margin-right: 4px;
}

.pointer {cursor: pointer;}

.event-box{
  padding-bottom: 0;
  margin: 0 10px;
  max-width: 514px;
}

.event-box p{
  margin-bottom: 4px;
}

.badge-warning {
  font-size: 100%;
}

.no-results, .welcome {
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, rgba(17,17,17,0) 0%,rgba(17,17,17,0.7) 10%,rgba(17,17,17,0.7) 90%,rgba(17,17,17,0) 100%);
}
.no-results p, .welcome p {
  font-family: "bamboo";
  width: 100%;
  line-height: normal;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  padding: 30px 0px 40px !important;
}

.no-results p {
  max-width: 300px;
  margin: 0 auto;
  font-size: 70px;
}
.welcome p {
  font-size: 7vmin;
  line-height: normal;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

label {
  border-radius: 4px;
  padding: 0 2px;
  margin-left: 1px;
}

.search-panel {
  background: linear-gradient(to bottom, rgba(17,17,17,0.7) 0%,rgba(17,17,17,0.7) 93%,rgba(17,17,17,0) 100%);
  color: white;
}